{% extends "template.html" %}
{% block title %}Home – SYN100{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
        <main>
            <div class = "content">
                <h1 data-aos="fade-zoom-in"
                    data-aos-easing="ease-in-back"
                    data-aos-delay="300"
                    data-aos-offset="0" data-aos-duration="2000"> TERRARIUM OF <br> TOMORROW 
                </h1>

                <p data-aos="fade-zoom-in"
                    data-aos-easing="ease-in-back"
                    data-aos-delay="300"
                    data-aos-offset="0" data-aos-duration="2500" class = "description">
                    Step into our Solarpunk Terrarium and choose your path: wander through lush ecological renewal, navigate a bustling high-tech metropolis, or survive the stark realities of a shattered world, each realm offering a unique glimpse into possible futures.
                </p>

                <div data-aos="fade-zoom-in"
                    data-aos-easing="ease-in-back"
                    data-aos-delay="300"
                    data-aos-offset="0" data-aos-duration="3000" class="buttons">
                    <a href="/documentation" class="btn-get-started">
                    <span>Documentation &gt;</span>
                    </a>
                </div>
            </div>
        </main>       
        <spline-viewer data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-delay="300"
            data-aos-offset="0" data-aos-duration="3000" class = "robot-3d" url="https://prod.spline.design/JYYTFklI6LqHotkN/scene.splinecode">
        </spline-viewer>

    </div>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.96/build/spline-viewer.js"></script>
    <script src="/static/js/script.js" ></script>

{% endblock %}