main {
    display: flex;
    width: 100%;
    min-height: calc(90vh - 6rem);
}

/* level selection*/
.content {
    width: 100%;
}

/* level container*/
.content div{
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    box-shadow:none;    
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

.content div:hover {
    background-color: rgba(255, 255, 255, 0.158);
    box-shadow:
    
    inset 0 0 8px  rgba(255,255,255,0.8),
    inset 0 0 16px rgb(255, 255, 255),
    
    0 0 8px  rgba(255,255,255,0.8),
    0 0 16px rgba(255,255,255,0.6),
    0 0 24px rgba(255,255,255,0.4);
}

/* level title*/
.content h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    background: linear-gradient(
        to right,
        #f3f3f3, #fffefd, #fffdfc,
        #ffffff, #e2dfdb, #f5f3f3
    );
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 8px  rgba(255,255,255,0.9),
        0 0 16px rgba(255,255,255,0.7),
        0 0 24px rgba(255,255,255,0.5),
        0 0 32px rgba(255,255,255,0.3);
    animation: animationGradient 4s linear infinite;
}

@media (max-width: 700px) {
  .content div {
    float: none !important;
    width: 100% !important;
    height: 30% !important;
  }

}
/* level fade*/
.level {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 0.6s forwards ease-out;
}

.level:nth-child(1) {
    animation-delay: 0s;
}
.level:nth-child(2) {
    animation-delay: 0.3s;
}
.level:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.level model-viewer {
    border-radius: 0.5rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 0.6s forwards ease-out;
}

.level model-viewer:nth-child(1) {
    animation-delay: 2.5s;
}

.level model-viewer:nth-child(2) {
    animation-delay: 2.5s;
}

.level model-viewer:nth-child(3) {
    animation-delay: 2.5s;
}